<h1>Editer la catégorie</h1>

<%= form_for @category do |f| %>
<div class="form-group">
	<%= f.text_field :title, placeholder: 'titre', class: 'form-control' %>
</div>

<div class="form-group">
	<%= f.text_field :slug, placeholder: 'Url', class: 'form-control' %>
</div>

<div class="form-group">
	<button class="btn btn-primary" type="submit">Modifier la catégorie</button>
</div>

<% end %>
